<launch>
    <node pkg = "nhk18_mr" name = "controller" type = "nhk18_controller"/>
    <node pkg = "rosserial_python" type = "serial_node.py" name = "nhk18_mr_stp">
      <param name = "port" type = "string" value = "/dev/ttyUSB0"/>
    </node>
    <node pkg = "rosserial_python" type = "serial_node.py" name = "nhk18_mr_run">
      <param name = "port" type = "string" value = "/dev/ttyACM0"/>
    </node>
    <node pkg="joy" type="joy_node" name="joy">
      <param name="dev" type="string" value="/dev/input/js1"/>
    </node>
</launch>
